body
{
    background-color: antiquewhite;
}

h1{
    font-size: 300%;
    text-align: center;
}

h2 {
    font-size: 175%;
    text-align: center;
}

ul {
    font-size: 150%;
    text-align: center;
    list-style-type: none;
}

p{
    text-align:center;
}