body
{
    background-color: antiquewhite;
}

h1{
    font-size: 300%;
    text-align: center;
}
ul {
    font-size: 200%;
}
p {
    font-size: 175%;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}